[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/slerpxcq/imgui.git
	branch = docking
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/slerpxcq/glfw
